*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background-color: #93E1D8;
}

/*Header section*/
header{
    display: flex;
    justify-content: space-between;
    background-color: #28666E;
    padding: 20px 30px;
    color: #ffffff;

}
header h1{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    background-color: #28666E;
}
header h1:hover{
    color:#000000;
    cursor: pointer;
}
.nav{
    background-color: #28666E;
    margin-right: 120px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    background-color: #28666E;
}
.head-{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
    background-color: #28666E;
    transition: O.8s ease;
}
.head-:hover{
    color: black;
}



/*Hero section*/
.hero-all{
    display: flex;
    height: fit-content;
    padding-top: 60px;
    padding-left: 60px;
   
}
.hero-content{
    flex: 2;
    padding-left: 40px;
}
.hero-title{
    font-size: 100px;
    font-weight: 900;
    font-family: 'Poppins',sans-serif;
    line-height: 130px;
    color: #ffffff;
}
.title-dev{
    color:  #000000;
}
.hero-subtitle{
    padding-top: 20px;
    font-weight: 800;
    font-size: 35px;
    color:#ffffff;
}
.hero-btns{
    padding-top: 50px;
    padding-left: 90px;
}
.btn-hero{
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: #28666E;
    color: #ffffff;
}
.btn-hire-me{
    height: 40px;
    width: fit-content;
    font-weight: 600;
    font-size: 20px;
    margin-right: 60px;
}
.btn-projects{
    height: 40px;
    width: fit-content;
    font-weight: 600;
    font-size: 20px;
}
.hero-images{
    flex: 1;
    margin-right: 0px;
    padding-right: 30px;
    margin-top: 50px;

}
.hero-image{
    width: 100%;
}
